
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.card-text {
  max-height: 160px;
  overflow: hidden;
}

.img-container {
  width: 350px;
}

.img-container img {
  display: block;
  width: 100%;
  height: auto;
}